<div>
  <h4>Social Media</h4>
  <a href="https://www.linkedin.com/in/odenipinedo" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin fa-fw"></i>LinkedIn
  </a>
  
  <div class="list-group">
    <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
    <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
    <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
    <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
  </div>
  
  <h4>Contact</h4>
  <script type="text/javascript" language="javascript">
    <!--
    // Email obfuscator script 2.1 by Tim Williams, University of Arizona
    // Random encryption key feature coded by Andrew Moulden
    // This code is freeware provided these four comment lines remain intact
    // A wizard to generate this code is at http://www.jottings.com/obfuscator/
    { coded = "PTNpmO@gpNmPf.fov"
      key = "36N9Jxc2sriZPlRYbtkaHQEA0uopzhOwIBC4T7De5KLfgj8nSyFXW1qUmdVGMv"
      shift=coded.length
      link=""
      for (i=0; i<coded.length; i++) {
        if (key.indexOf(coded.charAt(i))==-1) {
         ltr = coded.charAt(i)
         link += (ltr)
        }
        else {     
          ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
          link += (key.charAt(ltr))
        }
      }
    document.write("<i class='fas fa-envelope'></i>&nbsp;<a href='mailto:"+link+"'>email</a>")
    }
    //-->
  </script><noscript>Sorry, you need Javascript enabled to email me.</noscript>
  <br/><br/>
</div>
