<p>
  <a href="/" class="btn">
    <i class="fas fa-home fa-lg"></i>
    Home
  </a>
  <a href="/resume" class="btn">
    <i class="fas fa-paperclip fa-lg"></i>
    Résumé
  </a>
  <a href="/coaching" class="btn">
    <i class="fas fa-handshake fa-lg"></i>
    Coaching
  </a>
  <a href="https://github.com/dapinedo" class="btn">
    <i class="fab fa-github fa-lg"></i>
    GitHub
  </a>
  <a href="https://www.linkedin.com/in/danielpinedo" class="btn">
   <i class="fab fa-linkedin fa-lg"></i>
    LinkedIn
  </a>
</p>
