<p>
  <a href="/index" class="btn">
    <i class="fas fa-home fa-lg"></i>
    Home
  </a>
  <script language=Javascript type=text/javascript>
    <!--
    document.write('<a href="mai');
    document.write('lto');
    document.write(':&#100;&#97;&#110;&#105;&#101;&#108;');
    document.write('@');
    document.write('&#112;&#105;&#110;&#101;&#100;&#111;&#46;&#111;&#114;&#103;">');
    document.write('&#100;&#97;&#110;&#105;&#101;&#108;');
    document.write('@');
    document.write('&#112;&#105;&#110;&#101;&#100;&#111;&#46;&#111;&#114;&#103;<\/a>');
    // -->
    </script><noscript>&#100;&#97;&#110;&#105;&#101;&#108; at 
    &#112;&#105;&#110;&#101;&#100;&#111; dot &#111;&#114;&#103;</noscript>
  <a href="/resume" class="btn">
    <i class="fas fa-paperclip fa-lg"></i>
    Résumé
  </a>
  <a href="https://github.com/dapinedo" class="btn">
    <i class="fab fa-github fa-lg"></i>
  </a>
  <a href="https://www.instagram.com/daniel_a_pinedo" class="btn">
   <i class="fab fa-instagram fa-lg"></i>
  </a>  
</p>
