---
---

@import "jekyll-theme-minimal";

.row {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
     }
.column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }
.double-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }
.image {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
.image div {
      width: 100px;
      height: 96px;
    }
.bottom {
      margin-bottom: 18px;
    }
@media screen and (min-width: 800px) {
      .column {
        flex: 1
      }
      .double-column {
        flex: 2
      }
    }
